<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>

    <div class="cf">
        <!-- <a class="btn" href="{:U('add',array('pid'=>I('get.pid',0)))}">新 增</a> -->
        <!-- 高级搜索 -->
        <form class="search-form fr cf">
            <div class="sleft">
                <select name="prjid">
                    <option value="0">请选择项目</option>
                    <volist name="project" id="vo">
                        <option value="{$vo.id}" <if condition="$vo[id] eq I('prjid')">selected</if>>{$vo.name}{$vo.id}</option>
                    </volist>
                </select>
            </div>
            <div class="sleft">
                <select name="majorid">
                    <option value="0">请选择专业</option>
                    <volist name="major" id="vo">
                        <option value="{$vo.id}" <if condition="$vo[id] eq I('majorid')">selected</if>>{$vo.name}{$vo.id}</option>
                    </volist>
                </select>
            </div>
            <div class="sleft">
                <select name="pgradeid">
                    <option value="0">请选择级别</option>
                    <volist name="major" id="vo">
                        <option value="{$vo.id}" <if condition="$vo[id] eq I('pgradeid')">selected</if>>{$vo.name}{$vo.id}</option>
                    </volist>
                </select>
            </div>
            <div class="sleft">
                <input type="text" name="login_name" class="search-input" value="{:I('login_name')}" placeholder="手机号码"/>
                <a class="sch-btn" href="javascript:;" id="search" url="{:U('')}"><i class="btn-search"></i></a>
            </div>
        </form>
    </div>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                    <tr>
                        <th>操作</th>
                        <th>项目</th>
                        <th>专业</th>
                        <th>班型名称</th>
                        <th>市场价格</th>
                        <th>升学价格</th>
                    </tr>
                </thead>
                <tbody>
                <notempty name="class">
                <volist name="class" id="vo">
                    <tr>
                        <td><a href="{:U('detail',array('id'=>$vo[id]))}">查看</a></td>
                        <td>{$vo.prjid}</td>
                        <td>{$vo.majorid}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.basic_price}</td>
                        <td>{$vo.sale_price}</td>
                    </tr>
                </volist>
                <else/>
                <td colspan="13" class="text-center"> aOh! 暂时还没有内容! </td>
                </notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
            {$page}
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('index')}');
            //点击排序
            $('.list_sort').click(function(){
                var url = $(this).attr('url');
                var ids = $('.ids:checked');
                var param = '';
                if(ids.length > 0){
                    var str = new Array();
                    ids.each(function(){
                        str.push($(this).val());
                    });
                    param = str.join(',');
                }

                if(url != undefined && url != ''){
                    window.location.href = url + '/ids/' + param;
                }
            });
        });
    </script>
</block>