<div class="art_footer">
    <ul>
        <li>
            <a href="{:U('index/index')}"><if condition="$active eq 1"><img src="__IMG__/icon-1.png" /><else /><img src="__IMG__/icon-1-k.png" /></if><br/>产品</a>
        </li>
        <li>
            <a href="{:U('user/center')}"><if condition="$active eq 2"><img src="__IMG__/icon-2-r.png" /><else /><img src="__IMG__/icon-2.png" /></if><br/>库存</a>
        </li>
        <li>
            <a href="{:U('notice/index')}"><if condition="$active eq 3"><img src="__IMG__/icon-3-r.png" /><else /><img src="__IMG__/icon-3.png" /></if><br/>公告</a>
        </li>
        <li>
            <a href="{:U('search/index')}"><if condition="$active eq 4"><img src="__IMG__/icon-4-r.png" /><else /><img src="__IMG__/icon-4.png" /></if><br/>查询</a>
        </li>
    </ul>
</div>