<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
		<if condition="$is_view OR $is_edit">
			<input type="hidden" class="text input-large" name="id" value="{$info.id}">
		</if>
        <div class="form-item">
            <label class="item-label">休市日期<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text time input-large" name="datetime" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">休市原因<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="reason" value="{$info.value|default='周末'}">
            </div>
        </div>
		<div class="form-item">
            <label class="item-label">状态<span class="check-tips"></span></label>
            <div class="controls">
				<select name="status">
				<volist name="status_val" id="vo">
					<option value="{$key}" <if condition="$key eq $info[status]">selected</if>>{$vo}</option>
				</volist>
				</select>
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

    <script type="text/javascript">
        $('.time').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:'2',
            autoclose:true
        });
        //导航高亮
        highlight_subnav('{:U('settings/notrade')}');
    </script>
</block>
