<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>艺术平台入市协议</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"  />
    <link rel="stylesheet" href="__CSS__/home.css" />
</head>
<body class="trade_wrapper">
<div class="art_top">
    <div class="art_t_l fl">
        <div class="arrow-left arrow-box" >
            <a href="notice.html"> <b class="aleft"><i class="left-arrow1"></i><i class="left-arrow2"></i></b></a>
        </div>
    </div>
    <div class="art_t_c fl"><span>公告</span></div>
    <div class="art_t_r fr">
        <!--<img src="images/arrownav.png" />-->
        &nbsp;
    </div>
</div>

<div class="notice_top">
    <h1>一带一路国际文化艺术品交易平台入市协议</h1>
    <span>2016-11-18</span>
</div>

<div class="notice_con">
   <b>甲方：__________________（投资人）</b>
   <b>乙方：一带一路国际文化艺术品交易平台（艺术平台）</b>
   <br/>
   <p>鉴于：甲方申请成为一带一路国际文化艺术品交易平台会员。</p>
   <p>经甲乙双方平等、友好协商，达成如下协议：</p>
   <p><strong>第一条</strong>甲方自愿成为乙方的会员，已仔细阅读并理解乙方的各项制度、交易规则、细则和相关文件(以下统称业务规则，发布于乙方官方网站)。</p>
   <p><strong>第二条</strong>甲方知悉且同意，在乙方提供的电子交易平台并按照生效的交易规则进行有关艺术品、艺术衍生品的交易、交收、结算等业务。</p>
   <p><strong>第三条</strong>甲方应妥善保护其交易账号及交易密码安全，凡以甲方名义在乙方电子交易平台进行的交易，由甲方承担全部责任。</p>
   <p><strong>第四条</strong>甲方承诺遵守国家的法律法规、乙方相关制度和规则，乙方为甲方提供高效快捷的服务，并依法维护甲方合法权益。</p>
   <p><strong>第五条</strong>甲方向乙方提交真实、完整、合法、有效的资料和信息，所提交资料中若含商业信息或个人隐私信息，甲方承诺其已取得权利人之同意披露。乙方根据业务规则需要将甲方提交的资料信息进行披露时，甲方不再另行授权且保证乙方的披露行为未侵犯甲方或相关权利人的合法权益。若因信息披露导致任何侵权或违约事件发生，由甲方承担全部法律责任。</p>
   <p><strong>第六条</strong>乙方通过官方网站或微信公众号等途径及时发布相关信息。乙方应妥善保管甲方的交易记录和相关材料。</p>
   <p><strong>第七条</strong>乙方仅按本协议签订时的现有技术提供相应的安全措施来使乙方掌握的信息不丢失，不被滥用和变造。这些安全措施包括向其它服务器备份数据和对用户密码加密，乙方承诺不将此类信息提供给任何第三方（除双方另有约定或法律法规另有规定外）。</p>
   <p><strong>第八条</strong>不论在何种情况下，乙方不对由于信息网络正常的设备维护，电信设备故障与网络连接故障，黑客攻击、电信部门技术调整与升级、网站升级或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务、延迟服务和网络安全问题承担责任。</p>
   <p><strong>第九条</strong>因履行本协议发生的任何争议，双方应首先通过友好协商的方式加以解决。</p>
    <br/>
    <p style="text-align: right">一带一路国际文化艺术品交易平台</p>
    <p style="text-align: right">二0一六年十一月</p>

</div>

<include file="Common/footer" />
</body>
</html>