    <footer class="media-min-width">
        <div id="foot" class="media-width">

            <div class="foot-row-t">
                <div class="sx-logo-link">
                </div>
                <ul class="select-lists clearfix">
                    <li><a href="javascript:;" target="_blank">企业招聘</a></li>
                    <li><a href="javascript:;" target="_blank">人才招聘</a></li>
                    <li><a href="javascript:;" target="_blank">联系我们</a></li>
                    <li><a href="javascript:;" target="_blank">意见反馈</a></li>
                </ul>
            </div>

                <div id="friendly-link" class="clearfix">
                    <div class="foot-tel">400-900-6110</div>
                    <div class="foot-yue-hao">粤ICP13047199号-2</div>
                    <div class="foot-rights">Copyright &copy; 深圳市升学文化传播有限公司版权所有&nbsp;2008-2016. All rights
                        reserved</div>
                </div>

        </div>
    </footer>
</body>
</html>