<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>{$meta_title}</h2>
    </div>

    <div class="cf">
        <a class="btn" href="{:U('add')}">新 增</a>
        <!-- 高级搜索 -->
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" name="title" class="search-input" value="{:I('title')}" placeholder="请输入名称">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <form class="ids">
            <table>
                <thead>
                    <tr>
						<th class="">产品编号</th>
						<th class="">产品名称</th>
						<th class="">行业</th>
						<th class="">产品状态</th>
						<th class="">发行价格</th>
						<th class="">发行方式</th>
						<th class="">发行数量</th>
						<th class="">认购数量</th>
                        <th class="">提货数量</th>
						<th class="">创建时间</th>
						<th class="">最后编辑时间</th>
                        <th class="">操作</th>
					</tr>
                </thead>
                <tbody>
				<notempty name="list">
                <volist name="list" id="vo">
                    <tr>
						<td>{$vo.number} </td>
						<td>{$vo.product_name}</td>
						<td>{$vo.industry_text}</td>
						<td>{$vo.status_text}</td>
						<td>{$vo.issue_price}</td>
						<td>{$vo.issue_type_text}</td>
						<td>{$vo.issue_number}</td>
						<td>{$vo.subscribe_number}</td>
                        <td>{$vo.th_number}</td>
						<td>{$vo.create_time|date='Y-m-d H:i:s',###}</td>
						<td><if condition="$vo.update_time gt 0">{$vo.update_time|date='Y-m-d H:i:s',###}</if></td>
                        <td class="">
                            <a href="{:U('edit',array('id'=>$vo[id]))}">修改</a>
                        </td>
                    </tr>
                </volist>
				<else/>
				<td colspan="12" class="text-center"> aOh! 暂时还没有内容! </td>
				</notempty>
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">
			{$_page}
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });
            //导航高亮
            highlight_subnav('{:U('index')}');
            //点击排序
        	$('.list_sort').click(function(){
        		var url = $(this).attr('url');
        		var ids = $('.ids:checked');
        		var param = '';
        		if(ids.length > 0){
        			var str = new Array();
        			ids.each(function(){
        				str.push($(this).val());
        			});
        			param = str.join(',');
        		}

        		if(url != undefined && url != ''){
        			window.location.href = url + '/ids/' + param;
        		}
        	});
        });
    </script>
</block>