<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>查询</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"  />
    <link rel="stylesheet" href="__CSS__/home.css" />
</head>
<body class="trade_wrapper">
<div class="art_top">
    <div class="art_t_l fl">&nbsp;</div>
    <div class="art_t_c fl"><span>报表</span></div>
    <div class="art_t_r fr">
        <!-- <img src="__IMG__/arrownav.png" /> -->
        &nbsp;
    </div>
</div>
<div class="search_list">
    <ul>
        <li><a href="{:U('userinfo')}">个人信息</a></li>
        <li><a href="{:U('bank')}">银行信息</a></li>
        <li><a href="{:U('deals')}">成交记录</a></li>
        <li><a href="{:U('follow')}">资金流水</a></li>
        <li><a href="{:U('gd')}">挂单记录</a></li>
        <li><a href="{:U('sublist')}">认购记录</a></li>
        <li><a href="{:U('delivery')}">提货记录</a></li>
        <li><a href="{:U('address')}">收货地址信息</a></li>
        <li><a href="{:U('fanli')}">返利记录</a></li>
    </ul>
</div>

<include file="Common/footer"/>
</body>
</html>