<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>新增收货地址</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"  />
    <link rel="stylesheet" href="__CSS__/home.css" />
</head>
<body class="trade_wrapper">
<div class="art_top">
    <div class="art_t_l fl">
        <div class="arrow-left arrow-box" >
           <a onclick="javascript:history.go(-1);"> <b class="aleft"><i class="left-arrow1"></i><i class="left-arrow2"></i></b></a>
        </div>
    </div>
    <div class="art_t_c fl"><span>新增收货地址</span></div>
</div>
<div class="new_add_content">
    <div class="new_add_list">
        <ul class="new_add_top">
            <li><label>收货人：</label><input type="text"  /></li>
            <li><label>手机号：</label><input type="text"  /></li>
        </ul>
        <div class="new_add_img">
            <a href="javascript:;"><img src="__IMG__/userlogo.png" /></a>
        </div>
        <div class="clear"></div>
        <ul class="new_add_bottom">
            <li><label>所在地区：</label>
                <select>
                    <option value="1">广州</option>
                    <option value="2">上海</option>
                </select>
            </li>
            <li>
                <label>详细地址：</label>
                <input type="text" placeholder="街道、门牌号等" />
            </li>
        </ul>
    </div>
</div>

<div class="address_input">
    <input type="button" value="保&nbsp;&nbsp;存" id="okBtn" />
</div>
<script type="text/javascript">
    var oBtn = document.getElementById("okBtn");
    oBtn.onclick = function(){
        // window.location.href="receiptAddress.html";
    }
</script>
</body>
</html>