<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" >
    <title>找回密码成功</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css" />
</head>
<body class="bgregister">
<!--<div class="registertop"><span>找回密码成功</span></div>-->
<div class="registercon">
    <div class="reg_con">
        <img src="__IMG__/Accept-icon.png" />
        <p>账号:{$Think.get.mobile}</p>
        <p>恭喜，您的密码重置成功!</p>
        <a href="{:U('login')}">重新登录</a>
    </div>
</div>
</body>
</html>