<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>艺术品应价交易</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"  />
    <link rel="stylesheet" href="__CSS__/home.css" />
    <link rel="stylesheet" href="__CSS__/idangerous.swiper.css" />
</head>

<body class="trade_wrapper">
<div class="art_top">
    <div class="art_t_l fl">
        <div class="arrow-left arrow-box" >
            <a onclick="javascript:history.go(-1);"> <b class="aleft"><i class="left-arrow1"></i><i class="left-arrow2"></i></b></a>
        </div>
    </div>
    <div class="art_t_c fl"><span class="product_title"></span></div>
    <!-- <div class="art_t_r fr art_t_r_text"><a href='{:U("transfer/index")}'>定向转让</a></div> -->
</div>
<div class="art_pro_content">
    <div class="fl art_pro_col">
	    <em id="now_price"></em>
	    <!-- <img id="arrow" src="__IMG__/green-icon.png" /> -->
        <p class="art_new_p"><span id="change"></span><span id="change_percent"></span></p>
    </div>
    <div class="fl pro_price_list">
        <ul>
            <li><span>高<em id="high_price"></em></span><span>量<em id="total_number"></em></span></li>
            <li><span>低<em id="low_price"></em></span><span>余<em id="left_number"></em></span></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<div class="art_pro_tabs">
    <div class="art_pro_tabcon">
        <a href='#'>转让</a>
        <a href="#">日K</a>
    </div>
</div>

<div class="art_pro_table">
    <div class="art_pro_tit">
        <ul>
            <li>&nbsp;</li>
            <li>价格(元)</li>
            <li>数量</li>
            <li>操作</li>
        </ul>
    </div>
    <div class="art_pro_sell art_pro_trade">
        <ul id="gd_out_html"></ul>
    </div>

    <div class="art_pro_buy art_pro_trade">
        <ul id="gd_in_html"></ul>
    </div>

</div>


<div class="pro_footer">
    <ul>
        <li><a data-type="gd_in" data-text="挂单买入"  class="oBtn" href="javascript:;">挂单买入</a></li>
        <li><a data-type="gd_out" data-text="挂单卖出" class="oBtn" href="javascript:;">挂单卖出</a></li>
    </ul>
</div>
<div class="hidden_box">
    <div class="hidebox"></div>
    <div class="trade_box">
        <div class="trade_box_tit">
            <h3 id="trade_title"></h3>
            <a class="closeBox" href="javascript:;">X</a>
        </div>
        <div class="trade_box_con">
            <form id="trade_form">
                <div class="box_con_label"><label>商品:</label><span class="product_title"></span></div>
                <div class="box_con_label" id="trade_text"></div>
                <div class="box_con_label"><label>最新价:</label><span id="trade_price"></span></div>
                <div class="box_con_label" id="trade_volume"></div>
                <div class="box_con_label" id="trade_money"></div>
                <div class="box_con_btn" id="trade_btn"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript">
	var isLoginUrl = '{:U('index/checkLogin')}';
	var loginUrl = '{:U('index/login')}';
	var updateQuotaUrl = '{:U("index/updateQuota")}';
    var yj_url = '{:U("trade/yj")}';
	var gd_url = '{:U("trade/gd")}';
	var pid = '{$Think.get.id}';
</script>
<script type="text/javascript" src="__JS__/trade.js"></script>
</body>
</html>