<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>提现</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"  />
    <link rel="stylesheet" href="__CSS__/home.css" />
</head>
<body class="trade_wrapper">
<div class="art_top">
    <div class="art_t_l fl">
        <div class="arrow-left arrow-box" >
            <a onclick="javascript:history.go(-1);"> <b class="aleft"><i class="left-arrow1"></i><i class="left-arrow2"></i></b></a>
        </div>
    </div>
    <div class="art_t_c fl"><span>提现</span></div>
</div>

<div class="deposit_topall">
    <div class="deposit_top deposit_price"><span>账户:</span><em>18898752300</em></div>
    <div class="deposit_top deposit_price"><span>可用:</span><em>1000,00</em></div>
</div>

<div class="deposit_type">
    <p>提现金额:</p>
    <input class="price_input" type="text" placeholder="请输入提现金额(≥10元)" />
    <p>提现金额将存入您绑定的银行卡中</p>
    <p><span style="padding-right:5px;"><img src="__IMG__/bank.jpg" /></span>招商银行: 1234 5678 5678 1234</p>
    <p>已验证手机：18898752300</p>
    <div class="get_code">
        <input type="text" placeholder="请输入验证码" />
        <a href="javascript:;">获取验证码</a>
        <div class="clear"></div>
    </div>
    <input class="ok_input" type="button" id="okBtn" value="提&nbsp;&nbsp;交" />
</div>

<div class="deposit_about">
    <p>温馨提示：</p>
    <p>1） 出金时间为：交易日上午9:30-11:30,下午13:00-15:00；</p>
    <p>2） 出金提交成功后将于1-3个工作日到账，具体时间以银行到账时间为准；</p>
    <p>3） 为避免延误，提交出金指示之前，请确认您提交的银行卡资料信息是否正确。若因为银行卡信息不正确的原因导致未到账，我方不负责任何法律责任；</p>
    <p>4） 客户出金不收取任何手续费；</p>
    <p>5） 若您有任何问题，欢迎致电400-829-3199客服中心。</p>
</div>
<script type="text/javascript" src="__JS__/jquery.js"></script>
</body>
</html>