<html>
<head>
	<title>echart</title>
</head>
<body>
<div id="container" style="width:100%;height:350px"></div>
<input type="hidden" name="history" value='{$history}'>
</body>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/echarts.js"></script>
<script type="text/javascript">
    $.ajax({
        type: 'get',
        url:'{:U("data")}',
        asyn:false,
        success: function(data) {
            var history = $('input[name="history"]').val();
            history = JSON.parse(history);
            if(data) {
                history.push(data);
                draw(history);
            }
        }
    });
    
    function splitData(rawData) {
        var categoryData = [];
        var values = [];
        for (var i = 0; i < rawData.length; i++) {
            categoryData.push(rawData[i].splice(0, 1)[0]);
            values.push(rawData[i])
        }
        
        return {
            categoryData: categoryData,
            values: values
        };
    }

    function draw(testData) {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        // 数据意义：开盘(open)，收盘(close)，最低(lowest)，最高(highest)
        var data0 = splitData(testData);

        option = {
            tooltip : {
                trigger: 'axis',
                formatter: function (params) {
                    var res = params[0].name + '<br/>' + params[0].seriesName;
                    res += '<br/>  开盘价 : ' + params[0].value[0] + '  <br/>最高价 : ' + params[0].value[3];
                    res += '<br/>  收盘价 : ' + params[0].value[1] + '  <br/>最低价 : ' + params[0].value[2];
                    res += '<br/>  成交量 : ' + params[0].value[4] + '  <br/>成交额 : ' + params[0].value[5];
                    return res;
                }
            },
            grid: {
                left: '10%',
                right: '10%',
                bottom: '15%'
            },
            // series-candlestick.itemStyle.normal.color0:green,
            xAxis: {
                type: 'category',
                data: data0.categoryData,
                scale: true,
                boundaryGap : false,
                axisLine: {onZero: false},
                splitLine: {show: false},
                splitNumber: 20,
                min: 'dataMin',
                max: 'dataMax'
            },
            yAxis: {
                scale: true,
                splitArea: {
                    show: true
                }
            },
            dataZoom: [
                {
                    type: 'inside',
                    start: 50,
                    end: 100
                },
                {
                    show: true,
                    type: 'slider',
                    y: '90%',
                    start: 50,
                    end: 100
                }
            ],
            series: [
                {
                    name: '日K',
                    type: 'candlestick',
                    data: data0.values,
                    itemStyle: {
                        normal: {
                            color0: '#4c9f1f'// 阴线填充颜色
                        }
                    }, 
                }
            ]
        };

        ;
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }
</script>
</html>